$color-primary: hsl(322, 100%, 66%); //Pink
$color-primary-light: hsl(321, 100%, 78%); // Light Pink
$color-primary-dark: hsl(0, 100%, 63%); //Light Red

$color-secondary-dark: hsl(192, 100%, 9%); // Very Dark Cyan
$color-secondary-light: hsl(207, 100%, 98%); // Very Pale Blue

$color-white: #fff;
$color-black:#000;