.app {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  padding: 4rem;
}
.section {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  column-gap: 5%;
  margin: 3rem 0;
  &__part {
    width: 100%;
    padding: 5rem;
    text-align: center;
  }
  &--dark {
    background-color: $color-black;
  }
}
.wave {
  background-color: $color-secondary-light;
  position: relative;
  &::before {
    @include wave(top);
  }
  &::after {
    @include wave(bottom);
  }
  &--dark{
    background-color: black;
    &::before {
      @include wave(top);
    }
  }
}
