.app {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 2rem;
  padding: 4rem;
  overflow-x: visible;
}
.section {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  &--dark {
    background-color: $color-black;
    margin: 0;
    padding: 2rem 5rem;
    border: none;
    z-index: 1;
    transform: translateY(-.5rem);
  }
}
.wave {
  &__part {
    align-self: center;
    width: 40%;
    margin: 0 auto;
  }
  &--blue {
    padding: 0 10rem;
    background-image: url("../images/bg-section-top-desktop-1.svg"),
      linear-gradient(
        to bottom,
        transparent 165px,
        $color-secondary-light 165px,
        $color-secondary-light 80%,
        transparent
      ),
      url("../images/bg-section-bottom-desktop-1.svg");
    background-position: top, center, bottom;
    background-repeat: no-repeat;
    padding-top: 15rem;
    padding-bottom: 15rem;
  }
}
