.heading-1{
    font-family: 'Poppins', sans-serif;
    font-size: 3rem;
    font-weight: 700;
}
.heading-2{
    font-family: 'Poppins', sans-serif;
    font-size: 2rem;
    font-weight: 700;
}
.paragraph{
    font-family: 'Open Sans', sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
}